# env.dist

# LLM Providers
OPENAI_API_KEY=your_openai_api_key_here
ANTHROPIC_API_KEY=
GEMINI_API_KEY=your_gemini_api_key_here
# For Bedrock: containers mount your local .aws/credentials

# Tools API Key
SERPAPI_API_KEY=
TAVILY_API_KEY=

# Tracing config
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="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"
LANGSMITH_PROJECT="learn-and-grow-000"

# Github credentials
GITHUB_APP_ID=
GITHUB_APP_PRIVATE_KEY=
GITHUB_REPOSITORY=
